.welcomeImage {
    -fx-background-image: url("Airplane.jpg");
    -fx-background-size: cover;
}

.welcomeButton {
    -fx-background-color: rgba(187, 187, 187, 0.5); /* 50% transparency */
    -fx-background-radius: 10;
}

.welcomeButton:hover {
    -fx-background-color: rgba(204, 204, 204, 0.5); /* Hover color with 50% transparency */
}

.menuImage {
    -fx-background-image: url("Airplane2.jpg");
    -fx-background-size: cover;
}

.menuButton {
    -fx-background-color: rgba(187, 187, 187, 0.5); /* 50% transparency */
    -fx-background-radius: 20;
}

.menuButton:hover {
    -fx-background-color: rgba(204, 204, 204, 0.5); /* Hover color with 50% transparency */
}

.loginImage {
    -fx-background-image: url("Airplane5.jpg");
    -fx-background-size: cover;
}
.adminBackground {
    -fx-background-image: url("Airplane5.jpg");
    -fx-background-size: cover;
}
.textBackground{
    -fx-background-color: rgba(187, 187, 187, 0.5); /* 50% transparency */
    -fx-background-radius: 20;
}
.adminButton {
    -fx-background-radius: 20;
}
.adminButton:hover {
    -fx-background-color: rgba(204, 204, 204, 0.5); /* Hover color with 50% transparency */
}

